body, html {
  margin: 0;
  padding: 0;
}
.leyenda-pois {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}
.filtro-pois {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}
.toggle-btn {
  position: absolute;
  z-index: 1100;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}
.top-left { top: 10px; left: 140px; }
.bottom-left { bottom: 10px; left: 140px; }
.bottom-right { bottom: 10px; right: 10px; }

/* Estilo correcto para el mapa en la página web integrada */
#mapa {
  height: 50vh; /* o 100vh si lo quieres pantalla completa */
  width: 50vw; /* usa todo el ancho de la ventana */
  max-width: 150%;
  border-radius: 10px;
}
.mapa-contenedor {
  position: relative;
  width: 150%;
  max-width: 150%;
  margin-top: 10px;
}

.filtro-pois, .leyenda-rutas {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-size: 14px;
}

#limpiarMapa {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 6px;
}
.layer {
    z-index: 1; /* debe estar por debajo del logo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#logo_home img {
    position: relative;
    z-index: 1000;
}

/*------------------------------------*/
  .etapa-contenido {
    margin-top: 20px;
  }

  .hidden {
    display: none;
  }

  .etapa-btn {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
  }

  .etapa-btn:hover {
    background-color: #f2f2f2;
  }
  .galerias-ficha {
  max-width: 1000px;
  margin: 0 auto;
}

.galeria-ficha {
  height: 300px;              /* Fijamos altura uniforme */
  overflow: hidden;           /* Oculta cualquier exceso de la imagen */
  border-radius: 8px;
  background: #f0f0f0;        /* Fondo gris claro por si tarda en cargar */
}

.galeria-ficha img {
  width: 100%;
  height: 100%;               /* Ocupa todo el contenedor */
  object-fit: cover;          /* Mantiene proporción sin deformarse */
  border-radius: 8px;
}
.header_mail i,
.header_tel i,
.header-contacto-mail i,
.header-contacto-tel i {
  font-size: 20px;
  color: white;
  margin-right: 10px;
  vertical-align: middle;
}

.header-contacto {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .header-contacto {
    display: none;
  }
}
